@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);

body.alef {
  font-family: "Alef Hebrew",
               "Helvetica Neue",
               Helvetica,
               Arial,
               sans-serif;
   direction: rtl;
}

h1, h2, h3 {
	font-family: "Alef Hebrew";
	text-align: center;
}

h1 {
  font-weight: bold;
}

.wrapper {
	max-width: 980px;
	margin: auto;
	padding-right: 10px;
	padding-left: 10px;
}

section {
	padding-bottom: 20px;
	/*border-bottom: 1px solid #eee;*/
}

.header {
	/*background-color: #d5edf9;*/
	/*background-color: #abc046;*/
	/*main logo color: 54a73d*/
	background-color: #b3dd00;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
  border-bottom: solid 5px #92a520;
}

.logo {
	display: block;
  margin-bottom: 10px;
}

.logo img {
  width: 300px;
}


.video-section {
  /*background-color: #d5edf9;*/
  /*background-color: #abc046;*/
  /*main logo color: 54a73d*/
  background-color: white;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.video-section h1 {
  font-weight: normal;
}

.subtitle {
	margin-top: 10px;
	font-size: 28px;
}

.donate-link {
  margin-top: 20px;
	font-size: 24px;
}

.donate-link a {
  color: black;
}

.donate-icon {
  width: 124px;
}

.video {
	margin-top: 20px;
}

.explanation {
  background-color: #b3dd00;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: solid 8px #92a520;
}

.service-description a {
  color: #3f7f25;
  text-decoration: underline;
}

.donate {
  text-align: center;
  margin-top: 40px;
  padding-top: 1px;  /* hack?? */
}

.subsection-title {
  margin-top: 40px;
  margin-bottom: 20px;
}

.subsection-title img {
  width: 127px;
}

.donate .stats {
  *background-color: #f2f2f2;
}

.stats {
  margin: auto;
  max-width: 500px;
}

.stats .current-amount {
  font-size: 65px;
}

.stats .total-amount {
  font-size: 24px;
}

.stats .value {
  font-size: 24px;
}

.donate .progress {
  margin-top: 20px;
}

.donate .progress .progress-bar {
  float: left;
  background-image: linear-gradient(to bottom,#3f7f25 0,#32661d 100%);
}

.button {
  background-image: url(../images/button.svg);
  background-size: 100% 100%;
  padding: 8px 15px;
  color: white;
  min-width: 120px;
}

.button:hover {
  color: white;
  text-decoration: underline;
}

.button:visited {
  color: white;
}

input[type=submit].button {
  border: 0px;
  background-color: transparent;
}

.section-separator {
  width: 18px;
  display: block;
  margin: auto;
}

.join {
  padding-top: 50px;
}

.join form {
	max-width: 300px;
	margin: auto;
}

.join p {
	text-align: center;
}

.join form .first-name {
  padding-left: 5px;
}

.join form .last-name {
  padding-right: 5px;
}

.join .button {
  display: block;
  margin: auto;
}

.service-description div img {
	max-width: 128px;
	max-height: 128px;
	margin: auto;
	display: block;
}

.explanation p {
	text-align: center;
}

.about {
  margin-top: 40px;
	text-align: justify;
  border-bottom: 1px solid #c1c1c1;
}

.about .column-with-divider {
  border-left: 1px solid #c1c1c1;
}

.about h1 {
  text-align: right;
  margin-bottom: 15px;
}


.map h1 {
  text-align: right;
  margin-bottom: 15px;
}

.map iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.footer {
  text-align: left;
  direction: ltr;
  padding-top: 10px;
  background-color: #231f20;
  text-align: center;
  color: #abaaaa;
}

.footer-logo {
  width: 60px;
}

/* Share Buttons */
.share-buttons {
  list-style: none;
  padding: 0;
}
.share-buttons li {
  display: -moz-inline-stack;
  display: inline-block;
  margin: 0 10px;
}
.share-buttons li a {
  display: inline-block;
}

.share-buttons li a img {
  width: 100px;
}

.contact {
  direction: ltr;
  padding-top: 10px;
  background-color: #515151;
  color: #bdbdbd;
  text-align: center;
}

.contact a {
  color: #bdbdbd;
}

.contact-links {
  display: inline-block;
}

.contact-links img {
  height: 48px;
}

.contact-link {
  margin: 0 5px;
}

.email-address {
  margin-top: 4px;
}

.copyright {
  margin-top: 10px;
}
