li{
	margin-top:1em;
}
ol{
	margin-bottom:3em;
}

body{
	background-color:#008c98;
	color:#ffffff;
}

section{
	background: url("../images/sun.png") no-repeat -50px -50px;
	background-size:  150px 150px;
	/*background-position: left top;*/
}

.button{
	display: inline;
	font-weight: bold;
}


.full{
	width: 100%;
}

.logo{
	width: 250px;
	background: url("../images/cloud 2.png");
	background-size:contain;
	padding: 55px;
}

li.city{
	font-size: 150%;
	color: #55ba48;
	list-style-type: none;
}
