.logo img{
    margin-left: 20px;
}

.explanation, .header{
    background-color: #3b9bd1;
    border-bottom-color: #233038;
}

.explanation a{
    color: #ceddeb;
}

.button{
    background-image: none;
    background-color: #18568c;
    border-radius: 28px;
}

.slide{
    border-color: #233038;
}
